body, html {
  height: 100%;
}
* {
  box-sizing: border-box;
}

.container {
    margin: 150px auto;
    width: 30vw;
}
.result{
    border: 1px solid black;
    margin: 20px;
    /* margin-top: 30px; */
    height: 20vh;
}

.bg-image{
    filter: blur(3px);
    background-image: url("https://images.unsplash.com/photo-1593179782268-4c0155a34d0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.weatherText {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
.card-title{
    color: rgb(1, 1, 138);
    background-color: white; 
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}
.curr_temp {
    font-size:xx-large;
    text-shadow: 1px 2px rgb(97, 97, 97);
    margin: 10px;
}
.card {
    position: absolute;
    z-index: 2;
    box-shadow: 2px 2px 5px rgb(59, 59, 59);
    background-color: white; 
    background-color: rgba(255, 255, 255, 0.212);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top:200px;
}
.card-body{
    background-color: white; /* Fallback color */
    background-color: rgba(255, 255, 255, 0.158); /* Black w/opacity/see-through */
}


@media (max-width:600px){
    .card {
    position: absolute;
        z-index: 2;
        box-shadow: 2px 2px 5px rgb(59, 59, 59);
        background-color: white; 
        background-color: rgba(255, 255, 255, 0.212);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top:120px;
        left:15px;
    }
}
@media (max-width:300px){
    .card {
    position: absolute;
        z-index: 2;
        box-shadow: 2px 2px 5px rgb(59, 59, 59);
        background-color: white; 
        background-color: rgba(255, 255, 255, 0.212);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        top:60px;
        /* left:px; */
    }
}